/*.profile-img {
    width: 30%;
    height: 30%;
}

.quotes {
    max-width: 100%;
    max-height: 100%;
}

.portfolio-img {
    width: 30%;
    height: 30%;
}

.center {
    text-align: center;
}

img {
    height: 100px;
    width: 100px;
}
*/